<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zapateria BK - Contacto</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="shortcut icon" href="../images/imgbk.jpg" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="acerca.html">Acerca de</a>
            <a href="tematica.html">Tematica</a>
            <a href="contacto.html">Contacto</a>
        </nav>
        <section class="textos-header">
            <h1>En nuestra tienda de zapatos, valoramos tu opinión.</h1>
            <h2>Si tienes alguna pregunta o necesitas asistencia con un pedido, no dudes en ponerte en contacto.</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 271.23,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #f4f4f4;"></path>
            </svg>
        </div>
    </header>
    <div class="container">
        <h2>Formulario de Contacto</h2>
        <form action="#" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" required>

            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" rows="5" required></textarea>

            <input type="submit" value="Enviar">
        </form>
    </div>

    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Teléfono</h4>
                <a href="https://wa.me/50370886351?texto=Quisiera%20comprar%20su%20calzado">
                    <p>7088-6351</p>
                </a>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <a href="mailto:mejia.bryxn7@gmail.com">
                    <p>ZapateriaBK@gmail.com</p>
                </a>
            </div>
            <div class="content-foo">
                <h4>Ubicación</h4>
                <a href="https://www.google.com/maps?q=Plaza+Comercial+El+Distrito,+Acajutla,+Sonsonate,+El+Salvador" target="_blank">
                    <p>Plaza Comercial El Distrito, Acajutla, Sonsonate.</p>
                </a>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Derechos reservados 2024.</h2>
    </footer>

</body>
</html>



