<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zapatería BK - Temática</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="shortcut icon" href="../images/imgbk.jpg" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="acerca.html">Acerca de</a>
            <a href="tematica.html">Temática</a>
            <a href="contacto.html">Contacto</a>
            <a href="horarios.html">Horarios</a>
        </nav>
        <section class="textos-header">
            <h1>En nuestra tienda de zapatos, cada paso cuenta.</h1>
            <h2>¡Explora nuestro catálogo y encuentra el par perfecto para ti!</h2>
            <br>
            <br>
            <div class="video-container">
                <video controls>
                    <source src="../assets/Nike.mp4" type="video/mp4">
                </video>
            </div>
        </section>
        <div class="wave">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                      style="stroke: none; fill: #fff;"></path>
            </svg>
        </div>
    </header>

    <main>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo" id="Catalogo">Catálogo</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../images/img1.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Air Max Plus / $189.00</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../images/img2.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Jordan Retro 11 / $475.00</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../images/img3.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Air Max 90 / $95.00</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../images/img4.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Nike Dunk Panda / $150.00</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../images/img5.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Nike Air Force One / $125.00</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../images/img6.png" alt="">
                        <div class="hover-galeria">
                            <p>Nike Blazer Mid / $150.00</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../images/img7.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Nike SB Low / $120.00</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../images/img8.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Jordan Retro 4 Oreo / $200.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <h2>Tallas Disponibles</h2>
            <table>
                <thead>
                    <tr>
                        <th>Tipo de Zapato</th>
                        <th>Tallas Disponibles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Air Max Plus</td>
                        <td>7, 8, 9, 10, 11</td>
                    </tr>
                    <tr>
                        <td>Jordan Retro 11</td>
                        <td>8, 9, 10, 11</td>
                    </tr>
                    <tr>
                        <td>Air Max 90</td>
                        <td>6, 7, 8, 9, 10</td>
                    </tr>
                    <tr>
                        <td>Nike Dunk Panda</td>
                        <td>7, 8, 9, 10</td>
                    </tr>
                    <tr>
                        <td>Nike Air Force One</td>
                        <td>8, 9, 10, 11, 12</td>
                    </tr>
                    <tr>
                        <td>Nike Blazer Mid</td>
                        <td>6, 7, 8, 9</td>
                    </tr>
                    <tr>
                        <td>Nike SB Low</td>
                        <td>7, 8, 9, 10, 11</td>
                    </tr>
                    <tr>
                        <td>Jordan Retro 4 Oreo</td>
                        <td>8, 9, 10, 11, 12</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Teléfono</h4>
                <a href="https://wa.me/50370886351?texto=Quisiera%20comprar%20su%20calzado">
                    <p>7088-6351</p>
                </a>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <a href="mailto:mejia.bryxn7@gmail.com">
                    <p>ZapateriaBK@gmail.com</p>
                </a>
            </div>
            <div class="content-foo">
                <h4>Ubicación</h4>
                <a href="https://www.google.com/maps?q=Plaza+Comercial+El+Distrito,+Acajutla,+Sonsonate,+El+Salvador" target="_blank">
                    <p>Plaza Comercial El Distrito, Acajutla, Sonsonate.</p>
                </a>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Derechos reservados 2024.</h2>
    </footer>
</body>
</html>




