<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zapatería BK - Temática</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="shortcut icon" href="../images/imgbk.jpg" type="image/x-icon">
</head>

<body>
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="acerca.html">Acerca de</a>
            <a href="tematica.html">Temática</a>
            <a href="contacto.html">Contacto</a>
        </nav>
        <section class="textos-header">
            <h1>En nuestra tienda de zapatos, cada paso cuenta.</h1>
            <h2>¡Explora nuestro catálogo y encuentra el par perfecto para ti!</h2>
            <br>
            <br>
            <div class="video-container">
                <video controls>
                    <source src="../assets/Nike.mp4" type="video/mp4">

                </video>
            </div>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                      style="stroke: none; fill: #fff;"></path>
            </svg>
        </div>
    </header>

    <main>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo" id="Catalogo">Tabla Catálogo</h2>
                <div class="galeria-port">
                    <div class="tabla-catalogo">
                        <table>
                            <tr>
                                <td>
                                    <div class="imagen-port">
                                        <img src="../images/img1.jpg" alt="Air Max Plus">
                                        <div class="hover-galeria">
                                            <p>Air Max Plus / $189.00</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="imagen-port">
                                        <img src="../images/img2.jpg" alt="Jordan Retro 11">
                                        <div class="hover-galeria">
                                            <p>Jordan Retro 11 / $475.00</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="imagen-port">
                                        <img src="../images/img3.jpg" alt="Air Max 90">
                                        <div class="hover-galeria">
                                            <p>Air Max 90 / $95.00</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="imagen-port">
                                        <img src="../images/img4.jpg" alt="Nike Dunk Panda">
                                        <div class="hover-galeria">
                                            <p>Nike Dunk Panda / $150.00</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="tabla-catalogo">
                        <table>
                            <tr>
                                <td>
                                    <div class="imagen-port">
                                        <img src="../images/img5.jpg" alt="Nike Air Force One">
                                        <div class="hover-galeria">
                                            <p>Nike Air Force One / $125.00</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="imagen-port">
                                        <img src="../images/img6.png" alt="Nike Blazer Mid">
                                        <div class="hover-galeria">
                                            <p>Nike Blazer Mid / $150.00</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="imagen-port">
                                        <img src="../images/img7.jpg" alt="Nike SB Low">
                                        <div class="hover-galeria">
                                            <p>Nike SB Low / $120.00</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="imagen-port">
                                        <img src="../images/img8.jpg" alt="Jordan Retro 4 Oreo">
                                        <div class="hover-galeria">
                                            <p>Jordan Retro 4 Oreo / $200.00</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Teléfono</h4>
                <a href="https://wa.me/50370886351?texto=Quisiera%20comprar%20su%20calzado">
                    <p>7088-6351</p>
                </a>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <a href="mailto:mejia.bryxn7@gmail.com">
                    <p>ZapateriaBK@gmail.com</p>
                </a>
            </div>
            <div class="content-foo">
                <h4>Ubicación</h4>
                <a href="https://www.google.com/maps?q=Plaza+Comercial+El+Distrito,+Acajutla,+Sonsonate,+El+Salvador" target="_blank">
                    <p>Plaza Comercial El Distrito, Acajutla, Sonsonate.</p>
                </a>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Derechos reservados 2024.</h2>
    </footer>
</body>

</html>




